nbproject
Makefile
Makefile.in
aclocal.m4
compile
configure
autom4te.cache
*.o
autoX32
config.h
config.status
stamp-h1
config.log
src/embedded/.deps/
src/embedded/.dirstamp
de.paraair.autoX32.gschema.valid
tests/.deps/.dirstamp
tests/.deps/check_TrackStore-test_trackstore.Po
tests/.dirstamp
tests/.deps/.dirstamp
tests/.deps/check_TrackStore-test_trackstore.Po
check_*
*.log
*.trs
test-driver

src/.deps/
src/.dirstamp
src/backend/.deps/
src/backend/.dirstamp
src/dlg/.deps/
src/dlg/.dirstamp
src/res/.deps/
src/res/.dirstamp
src/ui/.deps/
src/ui/.dirstamp
src/utils/.deps/
src/utils/.dirstamp


