[Desktop Entry]
Encoding=UTF-8
Name=AutoX32
GenericName=AutoX32 application
Comment=Automation for Behringer X32 and Ardour
Keywords=audio;mixer
Exec=autoX32
Icon=autoX32
Terminal=false
Type=Application
Categories=Audio;AudioVideo;Gtk+
